<style>
  .navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }

  .logo h1 {
    text: white;
  }

  .menu {
    list-style: none;
    display: flex;
  }

  .menu li {
    margin-right: 20px;
  }

  .menu li a {
    color: #fff;
    text-decoration: none;
  }
</style>

<nav class="navbar">
  <div class="logo">
    <h1>MY WEBSITE</h1>
  </div>
  <ul class="menu">
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
